<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Dashboard">TODOs</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<div class="row">
    <div class="col-12">
        <div id="app"></div>
    </div>
</div>

@section Scripts{
    <script src="~/App/dist/equip.js"></script>
}